$enable-gradients: true;
#root {
  min-height: 100vh;
}

html,
body {
  margin: 0;
  background: linear-gradient(120deg, #b165ff 20%, #ffb165 85%);
  font-family: "Exo 2", sans-serif !important;
}

p {
  margin: 0;
  color: #fff;
}

.highlight {
  color: white;
  position: relative;
  text-shadow: 0 0 4px rgba(101, 255, 177, 0.95);
}
